- c = params[:controller]
%ul#local-pages
  %li{give_current_class_if_equal('people', c)}= link_to t('app.personal_info'), edit_people_path(@people.id)
  %li{give_current_class_if_equal('pen_names', c)}= link_to PenName.model_name.human_pl, new_people_pen_name_path(@people.id)
  %li{give_current_class_if_equal('attachments', c)}
    - if @people.image
      = link_to t('app.photo'), edit_people_attachment_path(@people, @people.image)
    - else
      = link_to t('app.photo'), new_people_attachment_path(@people), :params => {"type" => "Image"}
  %li{give_current_class_if_equal('memberships', c)}= link_to Group.model_name.human_pl, new_people_membership_path(@people.id)
  %li{give_current_class_if_equal('contributorships', c)}= link_to Work.model_name.human_pl, contributorships_url(:person_id => @people.id)
